.progressbar {
    background-color: #EAEAEA;
    border-radius: 100px 0px 0px 100px;
    padding: 0;
    height: 24px;
    opacity: 1;
    margin-top: 10px;
    justify-content: space-between;
  }
  
  .progressbar>div {
    background: #3546AB 0% 0% no-repeat padding-box;
    height: 24px;
    border-radius: 10px;
    border-radius: 100px;
    opacity: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
  .progress-parent{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    max-width: 952px;
    height: 65px;   
    min-height: 112px;
    overflow-x: auto;
  }
  .progress-details{
      display: flex;
      justify-content: space-between;
      /* min-height: 134px; */
      overflow-x: auto;
    }


.list{
  font-size: 12px;
  width: 82px;
  height: auto;
  color: #BDBDBD;
  text-align: center;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  margin-right: 20px;
}
.dateList{
  display: flex;
  width: 82px;
  margin-right: 20px;
  justify-content: space-around;
  margin-bottom: 4px;
  font-size: 12px;
  height: auto;
  margin-right: 20px;
  color: #BDBDBD;
}
.Quality{
  width: 84px;
  /* height: 35px; */
  text-align: center;
    font: normal normal medium 12px/18px Poppins;
    letter-spacing: 0px;
    color: #6270BD;
    opacity: 1;
    font-size: 12px;
}
  .bar-width{
      display: flex;
      justify-content: space-between;
  }
  .circle{
    width: 12px;
    height: 12px;
    color: #FFFFFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  margin: auto 15px auto 15px;
  border-radius: 50%;
  }
